/archives

# --- conf/spark: игнорировать всё, кроме spark-defaults.conf
conf/spark/*
!conf/spark/spark-defaults.conf

# --- minio: полностью игнорировать
minio/

# --- work: игнорировать всё, кроме notebooks и scripts
work/*
!work/notebooks/
!work/notebooks/*
!work/scripts/
!work/scripts/*

# --- скрытые системные папки Jupyter/IPython — всё равно игнорируем
work/.ipython/
work/.jupyter/
