# --- archives: полностью игнорировать
/archives

# --- conf/spark: игнорировать всё, кроме spark-defaults.conf
conf/spark/*
!conf/spark/spark-defaults.conf

# --- minio: полностью игнорировать
minio/

# --- work: игнорировать всё, кроме файлов в notebooks и scripts
work/*
!work/notebooks/
!work/notebooks/*.ipynb
!work/scripts/
!work/scripts/*.py

# --- скрытые системные папки Jupyter/IPython — игнорировать
work/.ipython/
work/.jupyter/
